.card {
  /* height: 275px; Set a fixed height for all cards */
  min-height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distributes content evenly */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distributes content evenly */
}
